/*стилове за autocomplete*/
/*===========================*/
.autocomplete .triangle{
    border-top: 10px solid transparent;
    border-right: 15px solid #434029;
    border-bottom: 10px solid transparent;
    left: 236px;
    position: fixed;
}
.autocomplete,
.js-autocomplete
{
    /* background: #eac263; */
}

.autocomplete ul,
.js-autocomplete ul{
    position: absolute;
    background: #fff;
    list-style: none;
    max-height: 100%;
    overflow-x: hidden;
    z-index: 100000;
    width: 90%;
    padding: 2px 10px;

    color: #000;
    max-height: 20em;
    overflow-y: auto;
}
.autocomplete ul li,
.js-autocomplete ul li
{
    padding: 2px;
    border-bottom: 1px dashed #636363;
    cursor: pointer;
}
.autocomplete ul li:hover,
.js-autocomplete ul li:hover
{
    background-color: var(--red-theme) !important;
    color: #fff !important;
}
.autocomplete ul li.selected,
.js-autocomplete ul li.selected
{
    background-color: var(--red-theme) !important;
    color: #fff !important;
}
.autocomplete ul li + li:before,
.js-autocomplete ul li + li:before
{

}

.Spiner_loading {
    background-image: url(/assets/plugins/autocomplete/img/loading.gif) !Important;
    background-position:right center !Important;
    background-repeat: no-repeat !Important;
    background-size: 26px !important;
}
